<!doctype html>
	<head><title>Enter your income...</title></head>
    <body>
      <form action="/" method="post">
        <input type="text" name="income"><br>
        stu
        
        <input type="submit" value="Calculate">
      </form>
      {% if thome.taxable %}
      	<h4>You're taxable income is £{{thome.taxable}}</h4>
	  {% endif %}
	  {% if thome.inc_tax %}
      	<h4>You're income tax is £{{thome.inc_tax}}</h4>
	  {% endif %}
	  {% if thome.ni %}
      	<h4>You're NI contribution is £{{thome.ni}}</h4>
	  {% endif %}
	  {% if thome.take %}
      	<h4>You're take home pay is £{{thome.take}}</h4>
	  {% endif %}
	  {% if thome.monthly_take %}
      	<h4>You're monthly take is £{{thome.monthly_take}}</h4>
	  {% endif %}
	</body>
</html>